/* GuidePage.css */
.content {
  padding: 0px;
  background-color: transparent;
}

.guide-page {
  /* Set the background image and make it fixed */
  background-size: cover;
  background-repeat: no-repeat;
}

.guide-container {
  padding: 20px; /* Add padding to create space between the content and the edge of the screen */
  width: 100%; /* Set the width to 100% to fill the screen horizontally */
  max-width: 600px; /* Set a maximum width for the content to ensure it fits within the screen */
  margin: 0 auto; /* Center the content horizontally */
  margin-top: 20px; /* Add a margin to the top to push it below the MenuBar */
  background-color: #edecff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.guide-header {
  display: flex;
  flex-direction: column; /* Align the items in a column */
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 20px;
}

.guide-title {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
}

.guide-date {
  font-size: 14px;
  color: #777777;
}

.guide-body {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #444444;
}

.guide-author-links {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Align the social links vertically with the author text */
  font-size: 18px;
}

.guide-author {
  color: #000000; /* Black color for the author text */
  margin-right: 10px; /* Add some spacing between the author text and social links */
  font-size: 18px;
}

.guide-author-links a {
  margin-left: 20px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.guide-author-links a:hover {
  color: #0056b3;
}

/* Container to arrange content and BottomBar in a column layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Adjust the spacing between the content and the BottomBar */
.content {
  margin-bottom: 40px;
}

/* BottomBar that is specifically just for this page */
.bottom-bar-guidepage {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons-guidepage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; /* Add spacing between the legal text and icons */
}

.social-icons-guidepage a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0.5rem; /* Add spacing between the icons */
  text-decoration: none;
}

.social-icons-guidepage a:hover {
  color: #7f84b5; /* Change the color to blue on hover */
}

.legal-text-guidepage {
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 600px) {
  .guide-container {
    max-width: 90%; /* Set a smaller max-width for smaller screens */
    margin-left: -9px; /* Center the guide-container horizontally on smaller screens */
  }

  /* Center the guide-header and guide-body text on smaller screens */
  .guide-header {
    text-align: left;
  }

  .guide-body {
    text-align: left;
  }
}